<% if flash[:alert] %>
  <div class="flash-alert">
    <%= flash[:alert] %>
  </div>
<% end %>
<div class="header">
  <div class="photo-and-credit">
    <div class="airplane-seats-photo">
      <%= image_tag "suhyeon-choi-tTfDMaRq-FE-unsplash.jpg", alt: "Backs of airplane seats" %>
    </div>
    <div class="airline-seats-photo-credit">
      Photo by <a href="https://unsplash.com/@by_syeoni?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Suhyeon Choi</a> on <a href="https://unsplash.com/s/photos/airplane?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
  </div>
  <div class="title">
    Flight Booker
  </div>
</div>
<div class="search-form">
  <div class="prompt">
    1. Search for flights:
  </div>
  <%= form_with url: '/flights', method: :get, local: true do |f| %>
    <div class="search-fields">
      <div class="search-field-box">
        <div class="search-text">
          Departing from:
        </div>
        <div class="search-select">
          <%= select :flight, :departure_airport_id, @airport_options,
                     selected: params.dig(:flight, :departure_airport_id) %>
        </div>
      </div>
      <div class="search-field-box">
        <div class="search-text">
          Arriving at:
        </div>
        <div class="search-select">
          <%= select :flight, :arrival_airport_id, @airport_options,
                     selected: params.dig(:flight, :arrival_airport_id) %>
        </div>
      </div>
      <div class="search-field-box">
        <div class="search-text">
          Number of Passengers:
        </div>
        <div class="search-select">
          <%= select_tag :number_of_passengers,
                         options_for_select(@passenger_options,
                                            params[:number_of_passengers]) %>
        </div>
      </div>
      <div class="search-field-box">
        <div class="search-text">
          Departure Date:
        </div>
        <div class="search-select">
          <%= select :flight, :departure_date, Flight.all
                     .collect { |f| format_date(f[:departure_date]) }.uniq,
                     selected: params.dig(:flight, :departure_date) %>
        </div>
      </div>
    </div>
    <div class="button-box">
      <%= f.submit "Search!", class: "button" %>
    </div>  
  <% end %>
</div>
<% unless @found_flights.nil? %>
  <% if @found_flights[0].nil? %>
    <div class="none-found">
      No flights found - search again
    </div>
  <% else %>
    <div class="flight-form">
      <div class="prompt">
        2. Select a flight for <%= pluralize(params[:number_of_passengers],
                                   'passenger') %>:
      </div>
      <%= form_with url: '/bookings/new', method: :get, local: true do |form| %>
        <%= hidden_field nil, :number_of_passengers,
                         value: params[:number_of_passengers] %>
        <%= hidden_field :flight, :departure_airport_id,
                         value: params[:flight][:departure_airport_id] %>
        <%= hidden_field :flight, :arrival_airport_id,
                         value: params[:flight][:arrival_airport_id] %>
        <%= hidden_field :flight, :departure_date,
                         value: params[:flight][:departure_date] %>
        <div class="flights-box">
          <% @found_flights.each do |f| %>
            <%= radio_button :flight, :id, f[:id] %>
            <%= airport_code(f[:departure_airport_id]) %>
            <%= airport_code(f[:arrival_airport_id]) %>
            <%= format_date(f[:departure_date]) %>
            <%= format_time(f[:departure_time]) %><br>
          <% end %>
        </div>
        <div class="button-box">
          <%= form.submit "Select!", class: "button" %>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>
