<div class="header">
  <div class="photo-and-credit">
    <%= image_tag "suhyeon-choi-tTfDMaRq-FE-unsplash.jpg", alt: "Backs of airplane seats" %>
    <div class="airline-seats-photo-credit">
      Photo by <a href="https://unsplash.com/@by_syeoni?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Suhyeon Choi</a> on <a href="https://unsplash.com/s/photos/airplane?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </div>
  </div>
  <div class="title">
    Flight Booker
  </div>
</div>
<div class="flight-info">
  <div class="prompt">
    3. Review your flight info:
  </div>
  <div class="info-container">
    Flight
    <%= @flight.id %><br>
    <%= pluralize(@number_of_passengers, 'passenger') %><br>
    <%= render 'flight_info' %>
  </div>
</div>
<div class="passenger-fillins">
  <div class="prompt">
    4. Fill in your passenger information:
  </div>
  <%= form_with model: @booking do |booking_form| %>
    <%= booking_form.hidden_field :flight_id, value: @flight.id %>
    <% @passengers.each_with_index do |passenger, passenger_id| %>
      <%= booking_form.fields_for passenger, index: nil do |passenger_form| %>
        <div class="passenger-container">
          <div class="passenger-header">
            Passenger #<%= passenger_id + 1 %>:<br>
          </div>
          <div class="passenger-info">
            Name
          </div>
          <div class="passenger-box">
            <%= passenger_form.text_field :name, class: "passenger-field" %><br>
          </div>
          <div class="passenger-info">
            Email
          </div>
          <div class="passenger-box">
            <%= passenger_form.text_field :email, class: "passenger-field" %><br>
          </div>
        </div>
      <% end %>
    <% end %>
    <div class="button-box">
      <%= booking_form.submit 'Book it!', class: "button" %>
    </div>
  <% end %>
</div>